@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Kaushan+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}

.fade-out-page{
  animation: fade-out 2s;
}

.fade-out {
  animation: fade-out 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;;
  }
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 1px;
  font-size: 14px;
  position: relative; 
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  height: 2px;
  width: 0;
  transition: ease all 0.35s; 
}

.nav-link.activeLink:after {
  left: 0;
  right: auto;
  width: 100%;
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
}