@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Kaushan+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-out-page{
  animation: fade-out 2s;
}

.fade-out {
  animation: fade-out 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;;
  }
}
