/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Kaushan+Script&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* end universal styles */

/* text theme */
.text-theme {
  background: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
/* end text theme */

.main-header {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

/* nav link styles */
.nav-link, .say-hi-link {
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 1px;
  font-size: 14px;
  position: relative; 
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  height: 2px;
  width: 0;
  transition: ease all 0.35s; 
}

.nav-link.activeLink:after {
  left: 0;
  right: auto;
  width: 100%;
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
}

.nav-link-span:after,
.nav-link-span:before,
.say-hi-link:after,
.say-hi-link:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.35s ease;
}

.nav-link-span:after,
.say-hi-link:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.nav-link-span:before,
.say-hi-link:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.nav-link-span:hover::before,
.nav-link-span:hover::after,
.say-hi-link:hover::before,
.say-hi-link:hover::after {
  width: 100%;
  height: 100%;
  border-image: radial-gradient(#f64f59, #12c2e9, #f64f59) 1;
}

.say-hi-link:hover {
  padding: 10px 0;
}
/* end nav link styles */

/* animations */
.fade-out-page{
  animation: fade-out 2s;
}

.fade-out {
  animation: fade-out 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;;
  }
}

/* end animations */